* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Muli";
}

main>section {
	padding: 5rem;
} main>section>* {
	display: inline-block;
} main>section>p.block {
	font-family: "Fira Sans";
	width: 20rem;
}

main>section:first-of-type {
	padding-top: 10rem;
	background-color: #F9F9F9;
}

#version {
	font-size: 8.5rem;
	font-weight: 900;
	transform: translate(-1.75rem, -.2rem);
	opacity: .33;
	line-height: 0;
} #version>#dot {
	font-family: "Fira Sans";
}

#subtitle {
	display: block;
	font-family: "Fira Sans";
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
	width: 1rem;
	margin-bottom: 5rem;
}